<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<!--h1>Hello, <%#= @subscriber.first_name %></h1-->
<p>The book - <%=@book.isbn%>, titled, <%=@book.title%>you registered for is now available.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Have a great day!</p>
</body>
</html>