<p>You have successfully subscribed for the book titled, <b><%=@book.title%></b>  & isbn <b><%=@book.isbn%></b></p>
<%= link_to"<button>Back</button>".html_safe, controller: 'books', action: 'index' %>